@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F6F9;
}
